body
{
 background-image: linear-gradient(0deg,#103d3d, #27aca5, #b7dddc);
 background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   

    
}

/*card*/
.card
{
    background: rgb(9,40,49);
    color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(20, 19, 19);
}
 .card-header
 {
  border-bottom: 2px solid white;
 }

 .card-footer
 {
  border-top: 2px solid white;
 }
/*button*/
.btn
{
    color:#0099cc;
    background-color: #001122;
    font-size:15px;
    letter-spacing: 1px;
    padding: 5px 20px;
    border: 2px solid #0099cc;
    
}

.btn:hover {
  color:white;
  background-color: #0099cc;
    font-size:15px;
    letter-spacing: 1px;
    padding: 5px 20px;
    border: 2px solid #0099cc;
    
  
}

/* Bottom adjust*/
@media only screen and (max-width: 1256px) {#adjust{padding: 3% !important;}}
@media only screen and (max-width: 768px) {#adjust{padding: 8% !important;}}
@media only screen and (max-width: 500px) {#adjust{padding: 12% !important;}}


/* Animation of cards*/

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/*For responsive*/
@media only screen and (max-width: 1024px) {body{height: auto !important  ;}}