.form-bg
{
    background: linear-gradient(0deg,#103d3d, #27aca5, #b7dddc);
    display: flex ;
    align-items: center ;
}

/* complete form*/
.form_horizontal
{
    font-family:'Times New Roman', Times, serif;
}

/*User text*/
.user
{
    color:black; 
    padding-left: 18px;
    font-size: 30px;
}

/*User icon*/
.form_horizontal .form_icon
{
    color :black;
    font-size: 100px;
    line-height:70px;
    margin:0 0 13px;
    padding-top: 7px;
    padding-left:5px ;
}


/* icon before username */
.form_horizontal .input-icon
{
    color : white;
    font-size: 15px;
    Letter-spacing:1px;
    height:37px;
    padding: 8px 6px 8px 10px ;
    border: 2px solid black;
    border-right: 0px;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
    background-color:black;
    box-shadow: 10px 10px 5px rgb(20, 19, 19);
    
}

/* icon before password */
.form_horizontal .input-icon1
{
    color : white;
    font-size: 15px;
    Letter-spacing:1px;
    height:37px;
    padding: 8px 6px 9px 10px ;
    border: 2px solid black;
    border-right: 0px;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
    background-color:black;
    box-shadow: 10px 10px 5px rgb(20, 19, 19);
    
}


/*Username and password*/
.from-control
{
    font-size: 15px;
    Letter-spacing:1px;
    height:37px;
    padding: 2px 30px 2px 30px;
    border: 2px solid black;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    background-color:white;
    box-shadow: 10px 10px 5px rgb(20, 19, 19);
}

/*show password text*/
.form-check-label
{
    font-size: 22px;
}

/*Button*/
.btn
{
    color:#0099cc;
    font-weight: bold;
    background-color: #001122;
    font-size:18px;
    letter-spacing: 1px;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 70px;
    box-shadow: 0px 3px 2px 0px #000000;
    
}

.btn:hover {
  color:white;
  background-color: black;
    font-size:18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 70px;
    box-shadow: 0px 3px 2px 0px #000000;
}

/* Animation of cards*/

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  @-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
  }
  
  .animatedFadeInUp {
    opacity: 0
  }
  
  .fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }

/*For responsive*/
@media only screen and (min-height: 1367px) {.form-bg{height: 93vh !important;}}
@media only screen and (max-height: 1367px) {.form-bg{height: 93vh !important;}}
@media only screen and (max-height: 1026px) {.form-bg{height: 90vh !important;}}
@media only screen and (max-height: 900px) {.form-bg{height: 89vh !important;}}
@media only screen and (max-height: 800px) {.form-bg{height: 85vh !important;}}

@media only screen and (max-width: 300px) {.form_horizontal .input-icon{font-size: 13px; padding-bottom: 10px !important;}
.form_horizontal .input-icon1{font-size: 13px; padding-bottom: 11px !important;}
.from-control{font-size: 10px; }}